@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|K2D|Rosario|Acme');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	text-align: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(./images/bodybg.jpg) no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 2fr 7fr;
}

header {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    overflow: hidden;
}

header h1, header h3 {
    color: rgba(255, 255, 255, 0.76);
    margin: 0 1em;
    font-size: 2em;
    font-family: "Source Sans Pro", sans-serif;
}

header h3 {
    font-size: 1.5em;
    font-family: "Source Sans Pro", sans-serif;
}

header h2 {
    color: rgba(255, 255, 255, 0.76);
    font-size: 2.5em;
    font-family: "Source Sans Pro", sans-serif;
}

header img {
    height: 30vh;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    height: 100vh;
    overflow-y: scroll;
    text-align: left;
    padding: 25vh 25% 25vh 10%;
    color: rgba(0, 0, 0, 0.7);
    font-family: "K2D", serif;
    text-decoration: none;
}

.container h1 {
    font-family: "Rosario", sans-serif;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.7);
}

.container h2 {
    padding-left: 2em;
}

.container h3 {
    padding-left: 5em;
}

.pic {
    height: 45vh;
}

.container h3 li {
    margin-top: 4vh;
}

a {
    text-decoration: none;
    color: rgb(255, 126, 148);
    background: rgb(0, 0, 0, 0.7);
    padding: 2px 7px;
    border-radius: 5px;
}

.pink {
    color: rgb(57, 32, 88);
}

.foot {
    padding: 2vh 0 10vh 0;
}

.toc {
    width: 15%;
    text-align: left;
    position: absolute;
    right: 4%;
    top: 15vh;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 80%;
}

.toc a {
    background: none;
    color: rgb(194, 85, 104);
}

.toc a:hover {
    text-decoration: underline;
}

/*Scrollbar*/

::-webkit-scrollbar {
	background: orange;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #e89127;
}

::-webkit-scrollbar-thumb:hover {
	background: #e87a27;
}